{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ice-Cream Distribution System</title>
    <link rel="stylesheet" href="{% static "home.css" %}" />
    <!-- Ensure you have a styles.css file for styling -->
  </head>
  <body>
    <header>
      <h1>Welcome to the Ice-Cream Distribution System</h1>
      <p>
        This system streamlines ice-cream ordering, distribution, and sales
        analytics, offering a robust solution for managing and analyzing
        ice-cream sales data efficiently.
      </p>
    </header>
    <main>
      <section></section>
      <nav>
        <a href="/products/ice-cream/">Explore Our Ice-Creams</a>
      </nav>
    </main>
  </body>
</html>
